<html>
<head>
	<title>EATR</title>
	<!-- INCLUDE REQUIRED THIRD PARTY LIBRARY JAVASCRIPT AND CSS -->
	<script type="text/javascript" src="lib/angular.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
	<link rel="stylesheet" href="css/main.css">
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

	<script type="text/javascript" src="js/eatr-app/app.js"></script>
	<script type="text/javascript" src="js/eatr-app/directives/rating.js"></script>
	<script type="text/javascript" src="js/eatr-app/services/InfoWindowService.js"></script>
	<script type="text/javascript" src="js/eatr-app/services/MarkerService.js"></script>
	<script type="text/javascript" src="js/eatr-app/services/GoogleMapService.js"></script>
	<script type="text/javascript" src="js/eatr-app/services/GeoLocationService.js"></script>
	<script type="text/javascript" src="js/eatr-app/controllers/rootController.js"></script>
</head>
<body ng-app="EatrApp" ng-controller="rootController">
   <div id="header">
		<span id="logo">EATR</span>			
		<input id="autocomplete" placeholder="Enter a city" type="text" />
		<span class="error-desc" ng-show="errorDesc">Note: {{errorDesc}}</span>
    </div>
	
	<div id="map-canvas"></div>
	
	<div id="listing" ng-show="restaurants.length != 0">
	    <div class="control-panel">
		  <span class="title"> Sort Restaurants By: </span>	
		  <select id="sort" ng-model="sortOption" ng-change="changed(sortOption)">
			<option value="rating">Rating</option>
			<option value="distance" selected="selected">Distance</option>
			<option value="price">Price</option>
		  </select>
		</div>
		<table id="resultsTable">
        <tbody>
		  <tr ng-repeat="place in restaurants" ng-click="clicked(place)">
			<td class="index">
				{{place.markerLetter}}
			</td>
			<td class="details">
				<div>
					<p class="name">{{place.name}}</p>
					<p class="address">{{place.vicinity}}</p>
					<p class="varities" ng-show="place.types"><span ng-repeat="type in place.types">{{type}} <b>&middot;</b> </span></p>
					<p class="others">
						<div ng-rating ng-model="place"></div> <!-- Custom Directive -->
						<span ng-show="place.distance"> <b>&middot;</b> {{place.distance}}KM</span>
						<span ng-show="place.price"> <b>&middot;</b> {{place.price}}Rs</span>
					</p>							
				</div>
			</td>
			<td>
				<img ng-src="{{place.imageSRC}}" width="100" height="100"/>
			</td>
		  </tr>			
		</tbody>
      </table>
    </div>
    <div id="info-content" class="hide-window">
      <table>
        <tr id="iw-url-row" class="iw_table_row">
          <td id="iw-icon" class="iw_table_icon"><img class='hotelIcon' src='{{place.icon}}'/></td>
          <td id="iw-url"><b><a href='{{place.url}}'>{{place.name}}</a></b></td>
        </tr>
        <tr id="iw-varities-row" class="iw_table_row" ng-show="place.types">
          <td class="iw_attribute_name"></td>
          <td id="iw-types"><span ng-repeat="type in place.types">{{type}} <b>&middot;</b> </span></td>
        </tr>
        <tr id="iw-address-row" class="iw_table_row">
          <td class="iw_attribute_name"></td>
          <td id="iw-address">{{place.vicinity}}</td>
        </tr>
        <tr id="iw-rating-row" class="iw_table_row"  ng-show="place.rating">
          <td class="iw_attribute_name"></td>
          <td id="iw-rating">
			<span>						
				<div class='rating_bar'>
					<div  class='rating' style='width:{{place.ratingPercentage}}%;'>
					</div>
				</div>		
			</span>
		  </td>
        </tr>
        <tr id="iw-website-row" class="iw_table_row" ng-show="place.website">
          <td class="iw_attribute_name"></td>
          <td id="iw-website">{{place.website}}</td>
        </tr>
        <tr id="iw-distance-row" class="iw_table_row" ng-show="place.distance">
          <td class="iw_attribute_name"></td>
          <td id="iw-distance">{{place.distance}} KM</td>
        </tr>
      </table>
    </div>
</body>
</html>