<!DOCTYPE html>
<html>
<head>
	<title>EATR</title>
	<!-- INCLUDE REQUIRED THIRD PARTY LIBRARY CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<!-- INCLUDE APPLICATION SPECIFIC CSS-->
	<link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="EatrApp" ng-controller="rootController">
   <div id="header">
		<span id="logo">EATR</span>
		<span eatr-autocomplete></span>
		<span class="error-desc" ng-show="errorDesc">Note: {{errorDesc}}</span>
    </div>
	
	<div id="map-canvas"></div>
	
	<div id="listing" ng-show="restaurants.length !== 0">
	    <div class="control-panel">
		  <span class="title"> Sort Restaurants By: </span>	
		  <select id="sort" ng-model="sortOption" ng-change="changed(sortOption)">
			<option value="rating">Rating</option>
			<option value="distance" selected="selected">Distance</option>
			<option value="price">Price</option>
		  </select>
		</div>
		<table id="results-table">
        <tbody>
		  <tr ng-repeat="place in restaurants" ng-click="clicked(place)">
			<td class="index">
				{{place.markerLetter}}
			</td>
			<td class="details">
				<div>
					<p class="name">{{place.name}}</p>
					<p class="address">{{place.vicinity}}</p>
					<p class="varities" ng-show="place.types"><span ng-repeat="type in place.types">{{type}} <b>&middot;</b> </span></p>
					<p class="others">
						<div eatr-rating ng-model="place"></div> <!-- Custom Directive -->
						<span ng-show="place.distance"> <b>&middot;</b> {{place.distance}}KM</span>
						<span ng-show="place.price"> <b>&middot;</b> {{place.price}}Rs</span>
					</p>							
				</div>
			</td>
			<td>
				<img class="place-icon" ng-src="{{place.imageSRC}}"/>
			</td>
		  </tr>			
		</tbody>
      </table>
    </div>
    <div id="info-content" class="{{showInfoWindow ? 'show-window' : 'hide-window'}}">
      <table>
        <tr>
          <td><img class='hotel-icon' src='{{place.icon}}'/></td>
          <td class="details"><b><a class="name">{{place.name}}</a></b></td>
        </tr>
        <tr ng-show="place.types">
          <td></td>
          <td><span ng-repeat="type in place.types">{{type}} <b>&middot;</b> </span></td>
        </tr>
        <tr>
          <td></td>
          <td>{{place.vicinity}}</td>
        </tr>
        <tr ng-show="place.rating">
          <td></td>
          <td>
			<div eatr-rating ng-model="place"></div> <!-- Custom Directive -->
		  </td>
        </tr>
        <tr ng-show="place.website">
          <td></td>
          <td id="iw-website">{{place.website}}</td>
        </tr>
        <tr ng-show="place.distance">
          <td></td>
          <td>{{place.distance}} KM</td>
        </tr>
      </table>
    </div>

	<!-- INCLUDE THIRD PARTY AND APPLICATION SPECIFIC JAVASCRIPT -->
	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
	
	<script type="text/javascript" src="js/eatr-app/app.js"></script>
	<script type="text/javascript" src="js/eatr-app/directives/rating.js"></script>
	<script type="text/javascript" src="js/eatr-app/directives/autoComplete.js"></script>
	<script type="text/javascript" src="js/eatr-app/services/InfoWindowService.js"></script>
	<script type="text/javascript" src="js/eatr-app/services/MarkerService.js"></script>
	<script type="text/javascript" src="js/eatr-app/services/GoogleMapService.js"></script>
	<script type="text/javascript" src="js/eatr-app/services/GeoLocationService.js"></script>
	<script type="text/javascript" src="js/eatr-app/controllers/rootController.js"></script>
</body>
</html>